@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --color-logo-bg: #FFC107;
  --color-maincolor: #FFA000;
  --color-menu: #FDFDFD;
  --color-btn: #176902;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* overflow-x: hidden;  */
}

body{
  overflow-x: hidden; /* para não aparecer barra de rolagem na horizontal */
}

a{
  text-decoration: none;
  color: var(--color-menu);
}

a:visited{
  color: var(--color-menu);
}
/* AQUI COMEÇA O HEADER */

.logo-bg{
  display: flex;
  justify-content: center;
  background-color: var(--color-logo-bg);
  box-shadow: 0px 14px 10px 0px rgba(0,0,0,0.75);
  width: 100vw;
}

.logo-bg img {
  width: 200px;
}


nav{
  background-color: var(--color-maincolor);
  width: 100vw;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav .nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 58px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-menu);
  height: 48px;
}

nav .nav-menu li a{
  transition: all 0.3s ease;
}

nav .nav-menu li a:hover{
  color: var(--color-btn);
}

nav .hamburguer{
  width: 40px;
  display: none;
}

/* AQUI COMEÇA O MAIN DA PAGINA INDEX */

.index-main{
  background: #fff url("../assets/image1-index.png") no-repeat;
  background-size: cover;
  height: 640px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.index-main div{
  width: 500px;
  height: 300px;
}

.index-main p{ 
  font-weight: 700;
  font-size: 70px;
  color: var(--color-menu);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

/* AQUI COMEÇA O 1º SECTION DA PAGINA INDEX */

.weekly-recipe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekly-recipe h1{
  font-size: 55px;
  font-weight: 700;
  color: var(--color-maincolor);
  margin: 75px auto;
}

.weekly-recipe .recipe-container{
  width: 100vw;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.weekly-recipe .recipe-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekly-recipe .recipe-container img{
  width: 345px;
  height: 345px;
  object-fit: cover;
}

.weekly-recipe .recipe-container p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.weekly-recipe .recipe-container button{
  background-color: var(--color-btn);
  color: var(--color-menu);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.weekly-recipe .recipe-container button:hover{
  background-color: #092b00;
  /* filter: brightness(1.3); */
}

/* AQUI COMEÇA O 2º SECTION DA PAGINA INDEX */

.last-banner{
  background: #fff url("../assets/image2-index.png") no-repeat;
  background-size: cover;
  height: 772px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 160px;
}

.last-banner p{
  color: var(--color-menu);
  font-size: 24px;
  max-width: 700px;
  padding: 30px 120px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}
.last-banner p:nth-child(1){
  font-size: 65px;
  font-weight: 700;
  width: 800px;
  margin-bottom: 73px;
}

/* AQUI COMEÇA O MAIN DA PÁGINA TODAS AS RECEITAS */

.all-recipes-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
  max-width: 100vw;
  width: 1200px;
  margin-top: 104px;

}

.all-recipes-main h1{
  align-self: flex-start;
  margin-left: 50px;
  font-size: 3.125rem;
  font-weight: 700;
  color: var(--color-maincolor);
}

.all-recipes-main .recipe-container{
  max-width: 100vw;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.all-recipes-main .recipe-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-recipes-main .recipe-container img{
  width: 345px;
  height: 345px;
  object-fit: cover;
}

.all-recipes-main .recipe-container p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
}

.all-recipes-main .recipe-container button{
  background-color: var(--color-btn);
  color: var(--color-menu);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  margin-bottom: 116px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.all-recipes-main .recipe-container button:hover{
  background-color: #092b00;
  /* filter: brightness(1.3); */
}


/* AQUI COMEÇA O MAIN DAS RECEITAS */

.receita-main{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  max-width: 1200px;
}

/* RECEITA */

.receita{
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.receita h1{
  margin-top: 107px;
  font-size: 3.125rem;
  font-weight: 700;
  color: var(--color-maincolor);
}

.receita img{
  margin-top: 28px;
  width: 592px;
  height: 311px;
}

.receita .desc-btn > *{
  color: var(--color-btn);
  background-color: var(--color-menu);
  padding: 8px;
  margin-top: 25px;
  border: 1px solid var(--color-btn);
  border-radius: 45px;
  font-weight: 500;
}

.receita .desc-btn button:nth-child(1){
  width: 80px;
}

.receita .desc-btn button:nth-child(2){
  width: 180px;
}

.ingredientes{
  margin-top: 58px;
  list-style: none;
}

.video-receita h4{
  margin-top: 40px;
  margin-bottom: 40px;
}

.preparo h4{
  margin-top: 40px;
  margin-bottom: 20px;
}

/* AQUI COMEÇA AS RECEITAS RELACIONADAS */

.receitas-relacionadas{
  margin-top: 178px;
  margin-bottom: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.receitas-relacionadas h2{
  font-size: 30px;
  font-weight: 500;
  color: var(--color-maincolor);
}

.receitas-relacionadas div{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.receitas-relacionadas div h4{
  padding: 15px;
}

/* AQUI COMEÇA A PÁGINA CONTATO */ 

.banner-contact{
  background: #fff url("../assets/banner-contact.png") no-repeat;
  background-size: cover;
  height: 405px;
  width: 100vw;
  border: none;
  overflow-x: hidden;
}

.banner-contact h1{
  font-size: 4.375rem;
  font-weight: 700;
  color: var(--color-menu);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  width: 400px;
  margin-left: 122px;
  margin-top: 49px;
}

.form-container{
  display: flex;
  margin: 102px auto 133px auto;
  width: 80vw;
  gap: 15px;
}

.form-container img{
  width: 350px;
}

.form-container div{
  width: 820px;
  height: 766px;
  border: 1px solid var(--color-maincolor);
  border-radius: 20px;

}

.form-container div form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 22px;
  margin: 64px 33px;
}

.form-container div form h2{
  font-weight: 700;
  font-size: 2.5rem;
  align-self: flex-start;
  margin-bottom: 67px;
  margin-top: 60px;
  color: var(--color-logo-bg);
}

.form-container div form input, .form-container div form textarea{
  width: 100%;
  border-radius: 7px;
  border: 1px solid var(--color-maincolor);
  padding: 20px;
}

.form-container div form input{
  height: 48px;
}

.form-container div form button{
  background-color: var(--color-logo-bg);
  color: var(--color-menu);
  border-radius: 50px;
  width: 165px;
  height: 48px;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}


/* AQUI COMEÇA O FOOTER */

footer{
  height: 100px;
  width: 100vw;
  /* margin-top: 166px; */
  background-color: var(--color-logo-bg);
  color: var(--color-menu);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

footer p{
  font-weight: 600;
  margin-right: 10px;
}

footer img{
  width: 90px;
  margin: 20px;
}
/* aqui começa a media queries  */

@media (max-width: 1000px){
  .receita{
    margin: 0 auto;
    max-width: 400px;
  }

  .receita-main{
    flex-direction: column;
  }
}

@media (max-width: 650px){
  .last-banner p:nth-child(1){
    margin-bottom: 0;
    width: 475px;
  }
  .last-banner p{
    padding: 30px 40px;
  }
  .weekly-recipe h1{
    font-size: 45px;
  }
  .form-container{
    flex-direction: column;
    margin: 30px auto;
    gap: 20px
  }
  .form-container img{
display: none;
  }
  .form-container div{
    width: 80vw;
  }
}

@media (max-width: 450px){
  .index-main p, .weekly-recipe h1{
    margin-left:  10px;
  }
  .banner-contact h1{
    font-size: 42px;
    text-align: center;
    margin: 60px auto;
  }
}